<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<!-- <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true"></property>
		<property name="locations">
			<list>
				<value>classpath:system.properties</value>
			</list>
		</property>
	</bean> -->

	<!-- <context:property-placeholder ignore-resource-not-found="true" location="classpath:system.properties" /> -->

	<bean id="student" class="com.mfzhang.mayi.datasource.pojo.Student">
		<constructor-arg name="id" value="${mayi.student.id}"></constructor-arg>
		<constructor-arg name="name" value="stuName100" ></constructor-arg>
		<constructor-arg name="mealCard" ref="mealCard" ></constructor-arg>
		<constructor-arg name="courseList" ><null/></constructor-arg>
	</bean>
	
	<bean id="mealCard" class="com.mfzhang.mayi.datasource.pojo.MealCard"
	     c:id="100" c:cardNo="cardNo100"></bean>

</beans>
