<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mfzhang.mayi.datasource.mapper.MdmMallMapper">
  <resultMap id="BaseResultMap" type="com.mfzhang.mayi.datasource.domain.MdmMall">
    <result column="md_guid" jdbcType="VARCHAR" property="mdGuid" />
    <result column="mdm_id" jdbcType="VARCHAR" property="mdmId" />
    <result column="mall_code" jdbcType="VARCHAR" property="mallCode" />
    <result column="ps_code" jdbcType="VARCHAR" property="psCode" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="mall_type" jdbcType="VARCHAR" property="mallType" />
    <result column="mall_class" jdbcType="VARCHAR" property="mallClass" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="open_date" jdbcType="TIMESTAMP" property="openDate" />
    <result column="region_one" jdbcType="VARCHAR" property="regionOne" />
    <result column="region_two" jdbcType="VARCHAR" property="regionTwo" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="gps" jdbcType="VARCHAR" property="gps" />
    <result column="delete" jdbcType="VARCHAR" property="delete" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="modifyby" jdbcType="VARCHAR" property="modifyby" />
    <result column="operator_email" jdbcType="VARCHAR" property="operatorEmail" />
    <result column="oms_temp" jdbcType="VARCHAR" property="omsTemp" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    md_guid, mdm_id, mall_code, ps_code, full_name, short_name, mall_type, mall_class, 
    province_code, city_code, country_code, address, post_code, telephone, open_date, 
    region_one, region_two, area, status, gps, delete, createtime, createby, modifytime, 
    modifyby, operator_email, oms_temp, end_date
  </sql>
  <select id="selectByExample" parameterType="com.mfzhang.mayi.datasource.domain.MdmMallExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mdm_mall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.mfzhang.mayi.datasource.domain.MdmMallExample">
    delete from mdm_mall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mfzhang.mayi.datasource.domain.MdmMall">
    insert into mdm_mall (md_guid, mdm_id, mall_code, 
      ps_code, full_name, short_name, 
      mall_type, mall_class, province_code, 
      city_code, country_code, address, 
      post_code, telephone, open_date, 
      region_one, region_two, area, 
      status, gps, delete, 
      createtime, createby, modifytime, 
      modifyby, operator_email, oms_temp, 
      end_date)
    values (#{mdGuid,jdbcType=VARCHAR}, #{mdmId,jdbcType=VARCHAR}, #{mallCode,jdbcType=VARCHAR}, 
      #{psCode,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{mallType,jdbcType=VARCHAR}, #{mallClass,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{openDate,jdbcType=TIMESTAMP}, 
      #{regionOne,jdbcType=VARCHAR}, #{regionTwo,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{gps,jdbcType=VARCHAR}, #{delete,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{modifyby,jdbcType=VARCHAR}, #{operatorEmail,jdbcType=VARCHAR}, #{omsTemp,jdbcType=VARCHAR}, 
      #{endDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mfzhang.mayi.datasource.domain.MdmMall">
    insert into mdm_mall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mdGuid != null">
        md_guid,
      </if>
      <if test="mdmId != null">
        mdm_id,
      </if>
      <if test="mallCode != null">
        mall_code,
      </if>
      <if test="psCode != null">
        ps_code,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="mallType != null">
        mall_type,
      </if>
      <if test="mallClass != null">
        mall_class,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="openDate != null">
        open_date,
      </if>
      <if test="regionOne != null">
        region_one,
      </if>
      <if test="regionTwo != null">
        region_two,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gps != null">
        gps,
      </if>
      <if test="delete != null">
        delete,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
      <if test="modifyby != null">
        modifyby,
      </if>
      <if test="operatorEmail != null">
        operator_email,
      </if>
      <if test="omsTemp != null">
        oms_temp,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mdGuid != null">
        #{mdGuid,jdbcType=VARCHAR},
      </if>
      <if test="mdmId != null">
        #{mdmId,jdbcType=VARCHAR},
      </if>
      <if test="mallCode != null">
        #{mallCode,jdbcType=VARCHAR},
      </if>
      <if test="psCode != null">
        #{psCode,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="mallType != null">
        #{mallType,jdbcType=VARCHAR},
      </if>
      <if test="mallClass != null">
        #{mallClass,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null">
        #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regionOne != null">
        #{regionOne,jdbcType=VARCHAR},
      </if>
      <if test="regionTwo != null">
        #{regionTwo,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="gps != null">
        #{gps,jdbcType=VARCHAR},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        #{modifyby,jdbcType=VARCHAR},
      </if>
      <if test="operatorEmail != null">
        #{operatorEmail,jdbcType=VARCHAR},
      </if>
      <if test="omsTemp != null">
        #{omsTemp,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mfzhang.mayi.datasource.domain.MdmMallExample" resultType="java.lang.Long">
    select count(*) from mdm_mall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mdm_mall
    <set>
      <if test="record.mdGuid != null">
        md_guid = #{record.mdGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.mdmId != null">
        mdm_id = #{record.mdmId,jdbcType=VARCHAR},
      </if>
      <if test="record.mallCode != null">
        mall_code = #{record.mallCode,jdbcType=VARCHAR},
      </if>
      <if test="record.psCode != null">
        ps_code = #{record.psCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fullName != null">
        full_name = #{record.fullName,jdbcType=VARCHAR},
      </if>
      <if test="record.shortName != null">
        short_name = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.mallType != null">
        mall_type = #{record.mallType,jdbcType=VARCHAR},
      </if>
      <if test="record.mallClass != null">
        mall_class = #{record.mallClass,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null">
        province_code = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null">
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.countryCode != null">
        country_code = #{record.countryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.postCode != null">
        post_code = #{record.postCode,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null">
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.openDate != null">
        open_date = #{record.openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regionOne != null">
        region_one = #{record.regionOne,jdbcType=VARCHAR},
      </if>
      <if test="record.regionTwo != null">
        region_two = #{record.regionTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.gps != null">
        gps = #{record.gps,jdbcType=VARCHAR},
      </if>
      <if test="record.delete != null">
        delete = #{record.delete,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        createby = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null">
        modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyby != null">
        modifyby = #{record.modifyby,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorEmail != null">
        operator_email = #{record.operatorEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.omsTemp != null">
        oms_temp = #{record.omsTemp,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mdm_mall
    set md_guid = #{record.mdGuid,jdbcType=VARCHAR},
      mdm_id = #{record.mdmId,jdbcType=VARCHAR},
      mall_code = #{record.mallCode,jdbcType=VARCHAR},
      ps_code = #{record.psCode,jdbcType=VARCHAR},
      full_name = #{record.fullName,jdbcType=VARCHAR},
      short_name = #{record.shortName,jdbcType=VARCHAR},
      mall_type = #{record.mallType,jdbcType=VARCHAR},
      mall_class = #{record.mallClass,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      country_code = #{record.countryCode,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      post_code = #{record.postCode,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      open_date = #{record.openDate,jdbcType=TIMESTAMP},
      region_one = #{record.regionOne,jdbcType=VARCHAR},
      region_two = #{record.regionTwo,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      gps = #{record.gps,jdbcType=VARCHAR},
      delete = #{record.delete,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      createby = #{record.createby,jdbcType=VARCHAR},
      modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      modifyby = #{record.modifyby,jdbcType=VARCHAR},
      operator_email = #{record.operatorEmail,jdbcType=VARCHAR},
      oms_temp = #{record.omsTemp,jdbcType=VARCHAR},
      end_date = #{record.endDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.mfzhang.mayi.datasource.domain.MdmMall">
    <result column="md_guid" jdbcType="VARCHAR" property="mdGuid" />
    <result column="mdm_id" jdbcType="VARCHAR" property="mdmId" />
    <result column="mall_code" jdbcType="VARCHAR" property="mallCode" />
    <result column="ps_code" jdbcType="VARCHAR" property="psCode" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="mall_type" jdbcType="VARCHAR" property="mallType" />
    <result column="mall_class" jdbcType="VARCHAR" property="mallClass" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="open_date" jdbcType="TIMESTAMP" property="openDate" />
    <result column="region_one" jdbcType="VARCHAR" property="regionOne" />
    <result column="region_two" jdbcType="VARCHAR" property="regionTwo" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="gps" jdbcType="VARCHAR" property="gps" />
    <result column="delete" jdbcType="VARCHAR" property="delete" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="modifyby" jdbcType="VARCHAR" property="modifyby" />
    <result column="operator_email" jdbcType="VARCHAR" property="operatorEmail" />
    <result column="oms_temp" jdbcType="VARCHAR" property="omsTemp" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    md_guid, mdm_id, mall_code, ps_code, full_name, short_name, mall_type, mall_class, 
    province_code, city_code, country_code, address, post_code, telephone, open_date, 
    region_one, region_two, area, status, gps, delete, createtime, createby, modifytime, 
    modifyby, operator_email, oms_temp, end_date
  </sql>
  <select id="selectByExample" parameterType="com.mfzhang.mayi.datasource.domain.MdmMallExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mdm_mall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.mfzhang.mayi.datasource.domain.MdmMallExample">
    delete from mdm_mall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mfzhang.mayi.datasource.domain.MdmMall">
    insert into mdm_mall (md_guid, mdm_id, mall_code, 
      ps_code, full_name, short_name, 
      mall_type, mall_class, province_code, 
      city_code, country_code, address, 
      post_code, telephone, open_date, 
      region_one, region_two, area, 
      status, gps, delete, 
      createtime, createby, modifytime, 
      modifyby, operator_email, oms_temp, 
      end_date)
    values (#{mdGuid,jdbcType=VARCHAR}, #{mdmId,jdbcType=VARCHAR}, #{mallCode,jdbcType=VARCHAR}, 
      #{psCode,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{mallType,jdbcType=VARCHAR}, #{mallClass,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{openDate,jdbcType=TIMESTAMP}, 
      #{regionOne,jdbcType=VARCHAR}, #{regionTwo,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{gps,jdbcType=VARCHAR}, #{delete,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{modifyby,jdbcType=VARCHAR}, #{operatorEmail,jdbcType=VARCHAR}, #{omsTemp,jdbcType=VARCHAR}, 
      #{endDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mfzhang.mayi.datasource.domain.MdmMall">
    insert into mdm_mall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mdGuid != null">
        md_guid,
      </if>
      <if test="mdmId != null">
        mdm_id,
      </if>
      <if test="mallCode != null">
        mall_code,
      </if>
      <if test="psCode != null">
        ps_code,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="mallType != null">
        mall_type,
      </if>
      <if test="mallClass != null">
        mall_class,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="openDate != null">
        open_date,
      </if>
      <if test="regionOne != null">
        region_one,
      </if>
      <if test="regionTwo != null">
        region_two,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gps != null">
        gps,
      </if>
      <if test="delete != null">
        delete,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
      <if test="modifyby != null">
        modifyby,
      </if>
      <if test="operatorEmail != null">
        operator_email,
      </if>
      <if test="omsTemp != null">
        oms_temp,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mdGuid != null">
        #{mdGuid,jdbcType=VARCHAR},
      </if>
      <if test="mdmId != null">
        #{mdmId,jdbcType=VARCHAR},
      </if>
      <if test="mallCode != null">
        #{mallCode,jdbcType=VARCHAR},
      </if>
      <if test="psCode != null">
        #{psCode,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="mallType != null">
        #{mallType,jdbcType=VARCHAR},
      </if>
      <if test="mallClass != null">
        #{mallClass,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null">
        #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regionOne != null">
        #{regionOne,jdbcType=VARCHAR},
      </if>
      <if test="regionTwo != null">
        #{regionTwo,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="gps != null">
        #{gps,jdbcType=VARCHAR},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        #{modifyby,jdbcType=VARCHAR},
      </if>
      <if test="operatorEmail != null">
        #{operatorEmail,jdbcType=VARCHAR},
      </if>
      <if test="omsTemp != null">
        #{omsTemp,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mfzhang.mayi.datasource.domain.MdmMallExample" resultType="java.lang.Long">
    select count(*) from mdm_mall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mdm_mall
    <set>
      <if test="record.mdGuid != null">
        md_guid = #{record.mdGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.mdmId != null">
        mdm_id = #{record.mdmId,jdbcType=VARCHAR},
      </if>
      <if test="record.mallCode != null">
        mall_code = #{record.mallCode,jdbcType=VARCHAR},
      </if>
      <if test="record.psCode != null">
        ps_code = #{record.psCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fullName != null">
        full_name = #{record.fullName,jdbcType=VARCHAR},
      </if>
      <if test="record.shortName != null">
        short_name = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.mallType != null">
        mall_type = #{record.mallType,jdbcType=VARCHAR},
      </if>
      <if test="record.mallClass != null">
        mall_class = #{record.mallClass,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null">
        province_code = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null">
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.countryCode != null">
        country_code = #{record.countryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.postCode != null">
        post_code = #{record.postCode,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null">
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.openDate != null">
        open_date = #{record.openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regionOne != null">
        region_one = #{record.regionOne,jdbcType=VARCHAR},
      </if>
      <if test="record.regionTwo != null">
        region_two = #{record.regionTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.gps != null">
        gps = #{record.gps,jdbcType=VARCHAR},
      </if>
      <if test="record.delete != null">
        delete = #{record.delete,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        createby = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null">
        modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyby != null">
        modifyby = #{record.modifyby,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorEmail != null">
        operator_email = #{record.operatorEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.omsTemp != null">
        oms_temp = #{record.omsTemp,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mdm_mall
    set md_guid = #{record.mdGuid,jdbcType=VARCHAR},
      mdm_id = #{record.mdmId,jdbcType=VARCHAR},
      mall_code = #{record.mallCode,jdbcType=VARCHAR},
      ps_code = #{record.psCode,jdbcType=VARCHAR},
      full_name = #{record.fullName,jdbcType=VARCHAR},
      short_name = #{record.shortName,jdbcType=VARCHAR},
      mall_type = #{record.mallType,jdbcType=VARCHAR},
      mall_class = #{record.mallClass,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      country_code = #{record.countryCode,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      post_code = #{record.postCode,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      open_date = #{record.openDate,jdbcType=TIMESTAMP},
      region_one = #{record.regionOne,jdbcType=VARCHAR},
      region_two = #{record.regionTwo,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      gps = #{record.gps,jdbcType=VARCHAR},
      delete = #{record.delete,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      createby = #{record.createby,jdbcType=VARCHAR},
      modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      modifyby = #{record.modifyby,jdbcType=VARCHAR},
      operator_email = #{record.operatorEmail,jdbcType=VARCHAR},
      oms_temp = #{record.omsTemp,jdbcType=VARCHAR},
      end_date = #{record.endDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>